.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  will-change: background-color;
  background: #ffcccc;

  &.play {
    animation: alarmPulse 0.5s ease-in-out infinite;
  }

  .alarm {
    height: 25%;
  }
  .message {
    text-align: center;
    font-size: 64px;
    padding: 1rem;
    word-break: break-all;
  }
}

@keyframes alarmPulse {
  0% {
    background-color: #ffd6d6;
  } /* light */
  50% {
    background-color: #e85f62;
  } /* darker */
  100% {
    background-color: #ffd6d6;
  } /* light */
}

@keyframes stripesPulse {
  0%,
  100% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(0.85);
  }
}
